@import "./base/normalize";
@import "./utils/variables";
@import "./utils/mixins";
@import "./base/common";
@import "./layouts/container";
@import "./components/menu";
@import "./components/contacts";
@import "./components/logo";
@import "./components/socials";
@import "./components/button";
@import "./components/flexbox";
@import "./layouts/header";
@import "./layouts/navigation";
@import "./layouts/section";
@import "./layouts/hero";
@import "./layouts/advantages";
@import "./layouts/work";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/footer";
@import "./components/modal";
@import "./components/modal-form";
