.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.16);
  z-index: 100;
  opacity: 1;
  transition: opacity 2s ease-out;

  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  background-color: $white-color;
  padding: 40px;
  border-radius: 4px;
}

.message {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.15;

  margin-bottom: 12px;
  color: $title-color;
}
