.project-list {
  @include flexbox(flex);
}

.project-box {
  position: relative;
  overflow: hidden;
}

.project-item {
  width: calc((100% - 30px * 2) / 3);
  margin-bottom: 30px;

  // &:not(:nth-child(3n)) {
  //   margin-right: 30px;
  // }

  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 2) / 3);
  }

  @media screen and (min-width: 1200px) {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0px;
    }
  }

  &:hover {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .project-text {
    transform: translate(0, -100%);
  }
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-color;

  padding-top: 20px;
  padding-left: 24px;
}

.project-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.88;

  color: $text-color;
  padding-top: 4px;
  padding-left: 24px;
}

.project-text {
  position: absolute;

  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: $white-color;
  background-color: $accent-color;

  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
