.team {
  color: $title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 30px;
  text-align: center;

  &-background {
    background-color: $team-color;
  }

  &-position {
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 16px;
    text-align: center;
  }
}

.members-list {
  @include flexbox(flex);
}

.members-item {
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: calc((100% - 30px * 3) / 4);

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}
